<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Test is complete for the '<%= @details.test_environment.test.application.name %>' application.</h1>
    <p>
    	Environment Name:<%= @details.test_environment.application_environment.environment_name %><br />
    	Environment URL: <%= @details.test_environment.application_environment.environment_url %><br />
    </p>
    <p>
		The ID is <%= @details.test_environment.test.id %>
    </p>
    <p>
		 The test has
		 <% if @details.test_result_details.where(:is_pass => 0).count > 0%>
		 	Failed :(
		 <% else %>
		 	Passed :)
		 <% end %>
    </p>
  </body>
</html>