<%= wicked_pdf_stylesheet_link_tag "application" %>
<h1> Report </h1>
<div id="res">
	<ul class="list-group list r">
		<% @tree.roots.each do |t| %>
		<%= nested_messages t.subtree.arrange %>
		<% end %>
	</ul>
</div>