<h1>Application Details</h1>

<table>
	<tr>
		<th>Description</th>
		<th>Owner</th>
	</tr>
	<tr>
		<td><%= @app.description %></td>
		<td><%= @app.owner %></td>
	</tr>
</table>
<%= link_to 'Back', apps_path %>
