// Place all the styles related to the run_details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-group-item.failed {
    border : 2px dashed red
}

.nested_messages {
  margin-left: 30px;
}

.list-group-item.clearfix{ 
  padding: 10 0 0 0;
 }
 